__pycache__/
*.py[cod]
*$py.class
*.so
test.py
.env
.env.docker
.venv
env/
venv/
ENV/

data/chroma/
data/summary_tree/
data/indexing/
data/weights/
data/log_images/

text.txt
*.sqlite3
*.bin
*.pickle

build/
dist/
*.egg-info/
.eggs/
*.egg

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

